.footer {
	height: 185px;
	margin-top: 100px;
	background-color: rgba(0, 0, 0, 0.85);
	justify-content: center;
	ul {
		list-style-type: none;
		display: inline-flex;
	}
	a {
		color: #fefefe;
		font-family: Raleway;
	}
	a:hover {
		color: #a9a9a9;
	}
	img {
		height: 40px;
		margin-top: 40px;
	}
	hr {
		width: 25%;
		margin-top: 0;
	}
}

.footer-1 {
	ul {
		margin-left: 37%;
	}
	ul li {
		margin-left: 50px;
	}
}

.footer-2 {
	ul {
		margin-left: 37%;
		margin-top: 10px;
	}
	ul li {
		margin-left: 25px;
	}
}
