.orbit {
	width: 75%;
	margin: 0 auto;
	margin-top: 30px;
}

.orbit-caption {
	height: 100%;
	width: 55%;
	padding-top: 12%;
	background-color: rgba(10, 10, 10, 0.7);
	font-family: Fjalla One;
	font-size: 4em;
	text-align: center;
	line-height: 1;
	hr {
		width: 80%;
		margin-top: 20px;
	}
	span {
		font-family: Raleway;
		font-size: 0.4em;
		vertical-align: top;
	}

}

.orbit-next:hover {
	background: transparent;

}

.shop-button {
	background: rgba(0, 0, 0, 0.80);
	border-radius: 1px;
}

.shop-button:hover {
	background-color: #fefefe;
	color: rgba(0, 0, 0, 0.85);
}

